@for (folder of folders; track folder) {
  <div class="container">
    @for (item of folder.items; track item) {
      <section [id]="item.id">
        @if (item.title) {
          <h2>
            {{ item.title }}
          </h2>
        }

        <p [innerHtml]="item.description"></p>

        @if (item.usage) {
          <div class="code-container">
            <button aria-label="copy button" mat-icon-button [cdkCopyToClipboard]="item.usage">
              <mat-icon>
                content_copy
              </mat-icon>
            </button>
  
            <pre><code class="prettyprint" [innerHtml]="item.usage"></code></pre>
          </div>
        }

        @if (item.inputs.length > 0) {
          <h4>
            Inputs
          </h4>

          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Default</th>
                <th>Required</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              @for (row of item.inputs; track row) {
                <tr>
                  <td [innerHtml]="row.name"></td>
                  <td [innerHtml]="row.type"></td>
                  <td [innerHtml]="row.default"></td>
                  <td [innerHtml]="row.required"></td>
                  <td [innerHtml]="row.description"></td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (item.outputs.length > 0) {
          <h4>
            Outputs
          </h4>

          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              @for (row of item.outputs; track row) {
                <tr>
                  <td [innerHtml]="row.name"></td>
                  <td [innerHtml]="row.type"></td>
                  <td [innerHtml]="row.description"></td>
                </tr>
              }
            </tbody>
          </table>
        }
      </section>
    }
  </div>
}