<mat-toolbar id="toolbar">
  <mat-toolbar-row class="container">
    <a routerLink="/home" rel="noreferrer">
      <img src="./assets/icons/icon-512x512.png" alt="logo" class="logo" width="48" height="48">
    </a>

    <label class="spacer" fxShow fxHide.xs="true">
      NGXCANVAS
    </label>

    <ul>
      <li>
        <a routerLink="/core" routerLinkActive="active" rel="noreferrer">
          Core
        </a>
      </li>
      <!-- <li>
        <a routerLink="/draw" routerLinkActive="active" rel="noreferrer">
          Draw
        </a>
      </li> -->
      <li>
        <a href="https://ngx-canvas.github.io/demo/" target="_blank">
          Demo
        </a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>